<form [formGroup]="enderecoForm" class="form">
    <div class="form-row">
        <p-floatLabel class="p-fluid" style="width: 100%;">
            <input 
                pInputText 
                id="logradouro" 
                [placeholder]="dadosEnderecoFormConfig.placeholders.logradouro"
                [maxlength]="dadosEnderecoFormConfig.maxLengths.padrao"
                formControlName="logradouro" />
            <label for="logradouro">{{ dadosEnderecoFormConfig.labels.logradouro }}</label>
        </p-floatLabel>

        <p-floatLabel class="p-fluid" style="width: 100%;">
            <input 
                pInputText 
                id="cidade" 
                [placeholder]="dadosEnderecoFormConfig.placeholders.cidade"
                [maxlength]="dadosEnderecoFormConfig.maxLengths.curto"
                formControlName="cidade" />
            <label for="cidade">{{ dadosEnderecoFormConfig.labels.cidade }}</label>
        </p-floatLabel>
    </div>

    <div class="form-row form-row--margin">
        <p-floatLabel class="p-fluid" style="width: 100%;">
            <p-inputMask 
                [mask]="dadosEnderecoFormConfig.masks.cep"
                id="cep"
                formControlName="cep"
                [maxlength]="dadosEnderecoFormConfig.lengths.cep"
                [placeholder]="dadosEnderecoFormConfig.placeholders.cep" />
            <label for="cep">{{ dadosEnderecoFormConfig.labels.cep }}</label>
        </p-floatLabel>

        <p-floatLabel class="p-fluid" style="width: 100%;">
            <input 
                pInputText 
                id="estado" 
                [placeholder]="dadosEnderecoFormConfig.placeholders.estado"
                [maxlength]="dadosEnderecoFormConfig.maxLengths.curto"
                formControlName="estado" />
            <label for="estado">{{ dadosEnderecoFormConfig.labels.estado }}</label>
        </p-floatLabel>

        <p-floatLabel class="p-fluid" style="width: 100%;">
            <p-dropdown 
                [options]="paises" 
                formControlName="pais" 
                id="pais"  
                [placeholder]="dadosEnderecoFormConfig.placeholders.pais" />
            <label for="pais">{{ dadosEnderecoFormConfig.labels.pais }}</label>
        </p-floatLabel>
    </div>

    <div class="form_buttons">
        <p-button 
            class="form_buttons_avancar"
            label="Salvar" 
            [disabled]="desabilitaAvancar()"
            (onClick)="avancar()" />
    </div>
</form>