<h2 class="home-title_center">Bem vindo ao Sigae</h2>

<ng-content *ngIf="checkAuthentication(); else notAuthenticatedTemplate">
    <div class="home-resumo">
        <p-card [header]="qtdPessoas" class="home-resumo-card">
            <p class="m-0">
                pessoas cadastradas
            </p>
        </p-card>

        <p-card [header]="qtdPlanoAcao">
            <p class="m-0">
                planos de ação cadastrados
            </p>
        </p-card>
    </div>
</ng-content>

<ng-template #notAuthenticatedTemplate>
    <p class="home-login">Faça login para acessar as funcionalidades.</p>
</ng-template>