<div class="calendar">
    <div #calendarSidebar class="calendar_sidebar">
        <p-button 
            class="p-fluid calendar_sidebar_button"
            label="Adicionar evento" 
            icon="pi pi-plus-circle" 
            iconPos="right" 
            (onClick)="criarEvento()" />

        <p-calendar 
            class="calendar_sidebar_input"
            [(ngModel)]="dataSelecionada" 
            [inline]="true" 
            [showWeek]="false"  />

        <div class="calendar_sidebar_day">
            <h2>Eventos de hoje</h2>
            <ng-container *ngIf="possuiEventosDoDia(); else semEventosTemplate">
                <ul>
                    <li *ngFor="let evento of eventosDoDia">{{ evento.titulo }}</li>
                </ul>
            </ng-container>
            <ng-template #semEventosTemplate>
                <p>Não há nenhum evento para hoje.</p>
            </ng-template>
        </div>
    </div>

    <div class="calendar_container">
        <full-calendar class="calendar_preview" [options]="calendarOptions"></full-calendar>
    </div>
</div>

<app-modal-cadastrar-evento
    #modalCadastrarEvento
></app-modal-cadastrar-evento>