.calendar {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    height: 100%;
}

.calendar_sidebar{
    width: 25%;
    height: 100%;
}

.calendar_sidebar_button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.calendar_sidebar_input {
    max-width: 100%;
}

::ng-deep .p-datepicker table {
    font-size: 0.75rem;
} 

.calendar_container {
    width: 75%;
    height: 100%;
}

.calendar_preview {
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}