<form [formGroup]="pessoaForm" class="form">
    <div class="form-row">
        <p-floatLabel class="p-fluid" style="width: 100%;">
            <input 
                pInputText 
                id="nome" 
                formControlName="nome" 
                [placeholder]="dadosCadastraisFormConfig.placeholders.nome"
                [minlength]="dadosCadastraisFormConfig.minLengths.curto"
                [maxlength]="dadosCadastraisFormConfig.maxLengths.padrao" />
            <label for="nome">{{ dadosCadastraisFormConfig.labels.nome }}</label>
        </p-floatLabel>

        <p-floatLabel class="p-fluid" style="width: 100%;">
            <input 
                pInputText 
                id="nomeSocial" 
                formControlName="nomeSocial"  
                [placeholder]="dadosCadastraisFormConfig.placeholders.nomeSocial"
                [minlength]="dadosCadastraisFormConfig.minLengths.padrao"
                [maxlength]="dadosCadastraisFormConfig.maxLengths.padrao" />
            <label for="nomeSocial">{{ dadosCadastraisFormConfig.labels.nomeSocial }}</label>
        </p-floatLabel>
    </div>

    <div class="form-row form-row--margin">
        <p-floatLabel class="p-fluid" style="width: 100%;">
            <p-inputMask 
                [mask]="dadosCadastraisFormConfig.masks.cpf"
                [maxlength]="dadosCadastraisFormConfig.lengths.cpf"
                id="cpf"
                formControlName="cpf"
                [placeholder]="dadosCadastraisFormConfig.placeholders.cpf" />
            <label for="cpf">{{ dadosCadastraisFormConfig.labels.cpf }}</label>
        </p-floatLabel>

        <p-floatLabel class="p-fluid" style="width: 100%;">
            <p-inputMask 
                [mask]="dadosCadastraisFormConfig.masks.cnpj"
                [maxlength]="dadosCadastraisFormConfig.lengths.cnpj"
                id="cnpj"
                formControlName="cnpj"
                [placeholder]="dadosCadastraisFormConfig.placeholders.cnpj" />
            <label for="cnpj">{{ dadosCadastraisFormConfig.labels.cnpj }}</label>
        </p-floatLabel>

        <p-floatLabel class="p-fluid" style="width: 100%;">
            <p-dropdown 
                [options]="escolas" 
                formControlName="escola" 
                optionLabel="nome"
                optionValue="id"
                id="escola"  
                [placeholder]="dadosCadastraisFormConfig.placeholders.escola" />
            <label for="escola">{{ dadosCadastraisFormConfig.labels.escola }}</label>
        </p-floatLabel>
    </div>

    <div class="form_buttons">
        <p-button 
            class="form_buttons_avancar"
            label="Próximo" 
            icon="pi pi-arrow-right" 
            iconPos="right" 
            [disabled]="desabilitaAvancar()"
            (onClick)="avancar()" />
    </div>
</form>