<form [formGroup]="contatoForm" class="form form--width">
    <div class="form-row">
        <p-floatLabel class="p-fluid" style="width: 100%;">
            <input 
                pInputText 
                id="email" 
                [placeholder]="dadosContatoFormConfig.placeholders.email"
                [maxlength]="dadosContatoFormConfig.maxLengths.curto"
                formControlName="email" />
            <label for="email">{{ dadosContatoFormConfig.labels.email }}</label>
        </p-floatLabel>
    </div>

    <ng-container formArrayName="telefones">
        <ng-container *ngFor="let telefoneForm of telefones.controls; let i = index">
            <div class="form-row form-row--margin form-row--direction" [formGroup]="telefoneForm">
                <p-floatLabel class="p-fluid" style="width: 100%;">
                    <p-inputMask 
                        [mask]="dadosContatoFormConfig.masks.telefone"
                        id="telefone{{i+1}}"
                        formControlName="telefone"
                        [maxlength]="dadosContatoFormConfig.lengths.telefone"
                        [placeholder]="dadosContatoFormConfig.placeholders.telefone" />
                    <label for="telefone{{i+1}}">{{ dadosContatoFormConfig.labels.telefone }} {{ i+1 }}</label>
                </p-floatLabel>

                <p-button 
                    *ngIf="exibeBotaoRemoverTelefone()"
                    icon="pi pi-times" 
                    [text]="true" 
                    [rounded]="true"
                    [plain]="true"
                    (onClick)="removeTelefone(i)" />
            </div>
        </ng-container>
    </ng-container>

    <p-button 
        icon="pi pi-plus" 
        label="Adicionar outro telefone"
        class="mr-2" 
        [rounded]="true"
        [text]="true" 
        [plain]="true"
        (onClick)="adicionaTelefone()" />

    <div class="form_buttons">
        <p-button 
            class="form_buttons_avancar"
            label="Próximo" 
            icon="pi pi-arrow-right" 
            iconPos="right" 
            [disabled]="desabilitaAvancar()"
            (onClick)="avancar()" />
    </div>
</form>